

@media screen and (min-width: 415px){
  .MenuList {
    flex-direction: row;
  }
}
 
  .MenuList a {
    
    line-height: 1;
    font-family:monospace;
    font-size: 40px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex:1 1 0;
   
  }
  .MenuList {
    border-radius: 1px;
    width: auto;
    background: rgb(254,251,200);
    background-color: rgb(94, 11, 11);
   
    /* display:flex;
    justify-content:center;
    align-items: center; */
   
    
  }
  .MenuList ul {
   
    background: rgb(254,251,200);
    border-radius: 1px;
   
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
   
    
  }
  .MenuList ol {
    margin: 20px;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    
    
    
  
  }
  .MenuList ol a {
     display: flex;
    justify-content: space-around;
    align-items:flex-start;
    color: rgb(219, 104, 51) ;
   
    font-size: 25px;
    flex-wrap: wrap;
    flex-flow: row;
    
  
    
  }

  .MenuList ol:hover a{
    font-size:30px;
  }
  .MenuList ol.active {
    border-radius: 1px;
    border:  #ffffff;
    
  }
  .MenuList ol.active a {
   
    border-radius: 1px;
    background: #ffffff;
  
  }
 
   .MenuList img {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      
      flex-flow: row;
     
      
  }
  .headerImg{
   display: flex;
   flex-wrap: wrap;
    height: 200px;
   
    
  }

 