
@media screen and (min-width: 415px){
	.plans {
	  flex-direction: row;
	}
  }
  
  
  
  .plans{
  
  
	  display:flex;
	  flex-wrap: wrap;
	  flex-flow: row;
	  display: contents;
	  flex:1 1 0;
  
	  margin:24px auto 0;
  
	height:350px;
	background: #fffadaf8;
  
	  }
  
  .plans .plan{
	  
	  justify-content: flex-start;
	  align-items: flex-start;
	background:rgb(254,251,200);
	  font-size:16px;float:left;
  
	  height:296px;width:160px;
  
	  line-height:36px;
  
	  border-right:1px solid #210542f8;
  
	  border-top:1px solid #210542f8;
  
	border-bottom:1px solid #210542f8;
  
	border-left:1px solid #210542f8;
  
	  padding:24px;
  
	  margin-top:12px;
  
	  margin-bottom:12px;
  
	  text-align:center;
	  flex-wrap: wrap;
	  flex-flow: row;
	
  
	  }
  
  .plans .name{
  
	  font-size:24px;
	font-weight:bold;
	color: rgb(83, 12, 12);
  
	  }
  
  .plans .price{
  
	  color:rgb(83, 12, 12);
	  font-weight:bold;
	  font-size:20px;
	  border-bottom:1px solid #ccc;
	  justify-content: flex-start;
	  align-items: center;
	  
  
	  }
  
  .plans button{
	  width:130px;
	  color:rgb(254,251,200);
	background:rgb(83, 12, 12);;
	  height:35px;
   
	  margin:16px auto;
	  font-weight: bold;
	  justify-content:center;
	  align-items: center;
  
	  }
  
	  .plans button:hover{
		  font-size:20px;
		  color:rgb(168, 108, 80);
	  }
  
  .plans button:focus{
	  background: #3e8e41;
	  
	  
  }
  
  
  
  .plans :hover .name{
  
	  font-size:36px;
  
	  }
  
  .plans :hover .price{
  
	  font-size:18px;
  
	  }
  
	  .plans img{
		  width:180px;
		  height: 100px;
	  }
  .plans	a:link {
		  color: green;
		  background-color: transparent;
		  text-decoration: none;
	  }
  .plans	a:visited {
		  color: pink;
		  background-color: transparent;
		  text-decoration: none;
	  }
  .plans	a:hover {
		  color: red;
		  background-color: transparent;
		  text-decoration: underline;
	  }
  .plans	a:active {
		  color: yellow;
		  background-color: transparent;
		  text-decoration: underline;
	  }
  
  
  
  
  
  
  
  
  
  