.Button {
    /* background-color: transparent; */
    border: 5px rgb(254,251,200);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    width:130px;
    height:35px;
	color:rgb(254,251,200);
    background:rgb(219, 104, 51);
 }
 
 .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
 }
 
 .Success {
    color: #5C9210;
 }
 
 .Danger {
    color: #944317;
 }