.Button {
   background-color: transparent;
   border: 5px rgb(254,251,200);
   outline: none;
   cursor: pointer;
   font: inherit;
   padding: 10px;
   margin: 10px;
   font-weight: bold;
   width:130px;
   height:35px;

  
}

.Button:first-of-type {
   margin-left: 0;
   padding-left: 0;
}

