@media screen and (min-width: 415px){
  .Bill {
    flex-direction: row;
  }
}

.Bill{
  display: flex;
  justify-content:flex-start;
  font-size:24px;
  font-weight:bold;
  color: #210542f8;
  border: 2px solid rgb(83, 12, 12);
 

}

.price{
  position: relative;
  left:40px;
  border: 2px rgb(83, 12, 12);
}